<div class="hero-unit">
        <h1>MindWave</h1>
        <p>The MindWave Education turns your computer into a private tutor. The headset takes decades of laboratory brainwave technology and puts it into a bundled software package for under $100. It safely measures brainwave signals and monitors the attention levels of students as they interact with math, memory and pattern recognition applications. Ten apps are included with experiences ranging from fun entertainment to serious education. Included Apps: Meditation Journal,SpeedMath,BlinkZone,- Schulte,SpadeA,Find Number,MindHunter, Man.Up, MindtyAnt, Jack's Adventure. Measurements: Raw signal,Neuroscience defined EEG power spectrum (Alpha, Beta, etc.), eSense meter for Attention,eSense meter for Meditation,eSense Blink Detection,On-head detection.</p>
        <p><a href="#" class="btn btn-primary btn-large">Learn more »</a></p>
      </div>