<div class="hero-unit">
  <h2>Listing data</h2>
  <%= line_chart [
  {:name => "Med", :data => @med},
  {:name => "Att", :data => @att}, 
  {:name => "bk", :data => @bk}, 
  {:name => "Let", :data => @let}  
] %>
</div>
<div class="alert">
  <h4><%= Session.find(params[:session]).description %> </h4>
  <%= link_to 'Edit', edit_session_path(Session.find(params[:session])), :class => "btn btn-primary" %>
</br>  
  </div>
  <div class="input-append">
  <input class="span2" id="appendedInputButtons" type="text" session="<%= params[:session] %>"  style="width:200px;" >
  <button class="btn filtro" type="button">Select word</button>  
</div>


<p> H E L L O </p>
<p>7 , 4 , 11 , 11, 14 </p>

<p>A(0), B(1), C(2), D(3), E(4), F(5), G(6), H(7), I(8), J(9), K(10),  L(11),  M(12),  N(13),  O(14),  P(15),  Q(16),  R(17),  S(18),  T(19),  U(20),  V(21),  W(22),  X(23),  Y(24),  Z(25) </p>
<p>0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25</p>

<script>
  $(function(){
    $('.filtro').click(function(){
      window.location = "?session=" + $('#appendedInputButtons').attr("session") + "&word=" + $('#appendedInputButtons').val();
    });
  });
</script>


