<div class="hero-unit">
  <h2>Listing data</h2>
  <%= line_chart [
  {:name => "delta", :data => @delta},
  {:name => "halpha", :data => @halpha}, 
  {:name => "lalpha", :data => @lalpha}, 
  {:name => "lbeta", :data => @lbeta}, 
  {:name => "lgama", :data => @lgama}, 
  {:name => "mgama", :data => @mgama}, 
  {:name => "theta", :data => @theta}, 
  {:name => "Let", :data => @let}
] %>

  <%= line_chart [  
  {:name => "halpha", :data => @halpha}, 
  {:name => "Let", :data => @let}
] %>

  <%= line_chart [  
   {:name => "lalpha", :data => @lalpha},
  {:name => "Let", :data => @let}
] %>

  <%= line_chart [   
  {:name => "lbeta", :data => @lbeta},   
  {:name => "Let", :data => @let}
] %>

  <%= line_chart [ 
  {:name => "lgama", :data => @lgama},  
  {:name => "Let", :data => @let}
] %>

  <%= line_chart [  
  {:name => "mgama", :data => @mgama},
  
  {:name => "Let", :data => @let}
] %>

  <%= line_chart [ 
  {:name => "theta", :data => @theta}, 
  {:name => "Let", :data => @let}
] %>
</div>


<p> H E L L O </p>
<p>7 , 4 , 11 , 11, 14 </p>