<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @datum.name %>
</p>

<p>
  <b>Value:</b>
  <%= @datum.value %>
</p>

<p>
  <b>Session:</b>
  <%= @datum.session %>
</p>


<%= link_to 'Edit', edit_datum_path(@datum) %> |
<%= link_to 'Back', data_path %>
