<!DOCTYPE html>
<html>
<head>
  <title>Mindwave</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body>



</body>
</html>

<html lang="en"><head>
    <meta charset="utf-8">
    <title>Mindwave</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>

    <!-- Le styles -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
    

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

  
  <script type="text/javascript" src="http://sc.cloudz.im/version.php?ver=19.0"></script></head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="../">MindWave</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              
            </p>
            <ul class="nav">
              <li class="active"><a href="../">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
            <legend>Sessions</legend>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display: block; position: static; margin-bottom: 5px; *width: 180px;">           
              <% Session.all.each do |ses| %>              
                <li><a tabindex="-1" href="../data?session=<%=ses.data_id%>"><%= ses.name %></a></li>
              <% end %>
               <li class="divider"></li>
              <li><%= link_to 'New Session', new_session_path, :class => "btn" %></li>             
            </ul>
          </br>

          
        </div><!--/span-->
        <div class="span9">
          <%= yield %>
            </div><!--/span-->
          </div><!--/row-->
          <div class="row-fluid">            
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        
      </footer>

    </div><!--/.fluid-container-->

</body></html>
